
#LoginImage {
    position: relative;
    float: left;
    margin-top: 70px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 80px;
}

#choice {
    position: relative;
    float: right;
    width: 322px;
    height: 35px;
    margin-top: 60px;
    margin-right: 90px;
    margin-left: 30px;
    background-color: #fff09c;
    /*border: 1px solid rgba(80,80,80,0.5);*/
}

.Tag {
    width: 159px;
    height: 35px;
    background-color: white;
    border: 1px solid rgba(80,80,80,0.5);
    padding-top:6px;
}
    .Tag a {
        text-align: center;
        text-decoration: none;
        font-size: 15px;
        font-style: normal;
        font-weight: bold;
        color: #ff6a00;
        text-shadow: 1px 1px 2px #ffffff;
        margin-left:30px;
        margin-right:30px;
    }
.selectTags {
    width: 159px;
    height: 35px;
    background-color: #fff09c;
    border: 1px solid rgba(80,80,80,0.5);
    padding-top:6px;
}
    .selectTags a {
        text-align: center;
        text-decoration: none;
        font-size: 15px;
        font-style: normal;
        font-weight: bold;
        color: #fff;
        text-shadow: 1px 1px 4px #808080;
        margin-left:30px;
        margin-right:30px;
    }
.LoginContent {
    display: inline;
    position: relative;
    float: right;
    width: 320px;
    height: auto;
    margin-top: 0px;
    margin-bottom: 100px;
    margin-right: 90px;
    margin-left: 10px;
    background-color: #fff09c;
    border: 1px solid rgba(80,80,80,0.5);
    border-top: none;
}

.DetailForm {
    margin-top: 30px;
    padding: 5px;
    width: 300px;
    height: auto;
}

    .DetailForm tr td {
        padding: 5px;
    }

.Logintext {
    height: 30px;
    width: 70px;
    font-size: 15px;
    font-style: normal;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 4px #808080;
    text-align: center;
}

.textEntry {
    border: 1px solid rgba(80,80,80,0.5);
    height: 30px;
    width: 200px;
    color: #353535;
}

.Button {
    height: 30px;
    padding-left: 90px;
    padding-right: 90px;
    background-color: #ff6a00;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid rgba(80,80,80,0.5);
}
    .Button:hover {
        background-color: #ffa768;
    }

.forgetpwd {
    display: inline;
    position: relative;
    float: left;
    margin-left: 20px;
    font-size: 15px;
    font-style: normal;
    font-weight: bold;
    text-align: center;
}

    .forgetpwd a {
        color: #353535;
        text-decoration: none;
    }

        #forgetpwd a:hover {
            color: #ff6a00;
            text-decoration: none;
        }

.reg {
    display: inline;
    float: right;
    font-size: 15px;
    font-style: normal;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 4px #808080;
    text-align: center;
}

    .reg a {
        color: #353535;
        text-decoration: none;
        text-shadow: none;
    }

        .reg a:hover {
            color: #ff6a00;
            text-decoration: none;
            text-shadow: none;
        }
.failureNotification {
    background: url(../Resource/icon/exclamation.png) 8px 50% no-repeat;
    background-color: #ffe3e3;
    border-color: #dd0000;
    color: #880000;
    padding: 4px 4px 4px 30px;
    margin-bottom: 0px;
    font-size:12px;
    border: 1px solid;
}
.detailNotification {
    background: url(../Resource/icon/true.png) 8px 5px no-repeat;
    background-color: #dfffdf;
    border-color: #9fcf9f;
    color: #005f00;
    padding: 4px 4px 4px 30px;
    margin-bottom: 12px;
    font-size: 1.1em;
    border: 2px solid;
}