* {
    font-family: 'Microsoft YaHei', Helvetica, sans-serif;
}

body {
    background-color: #bad7e6;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    font-size: 12px;
    color: #000;
}

.clear {
    clear: both;
}

a {
    color: #0291d4;
    text-decoration: none;
}

    a#closebt {
        position: absolute;
        top: 130px;
        left: 208px;
        outline: none;
        z-index: 999;
    }

    a#openbt {
        position: absolute;
        top: 130px;
        left: 0px;
        outline: none;
        display: none;
        z-index: 999;
    }

    a.button {
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        font-family: arial;
        font-size: 12px;
        font-weight: bold;
        padding: 8px 12px 8px 12px;
        text-align: center;
        cursor: pointer;
        margin: 10px 10px 0 0;
        float: left;
    }

.red {
    color: #fff;
    background: #eb8484;
    text-shadow: 1px 1px #cc5959;
}

.green {
    color: #fff;
    background: #7dc44e;
    text-shadow: 1px 1px #4c9021;
}

.red:hover {
    background-color: #d96060;
}

.green:hover {
    background-color: #69b736;
}

#panelwrap {
    width: 1000px;
    margin: 20px auto;
    background-color: #FFFFFF;
}

#loginpanelwrap {
    width: 500px;
    margin: 120px auto auto auto;
    background-color: #FFFFFF;
}

.header {
    width: 100%;
    height: auto;
}

.title {
    font-size: 26px;
    float: left;
    padding: 25px 0 0 18px;
}

    .title a {
        color: #366082;
        font-family: 'Belgrano', serif;
    }

.header_right {
    float: right;
    padding: 20px 20px 0 0;
}

    .header_right a {
        margin: 0 0 0 5px;
        color: #000000;
        font-weight: bold;
    }

        .header_right a.settings {
            background: url(../Resource/images/settings.png) no-repeat left;
            padding: 0 0 0 22px;
        }

        .header_right a.logout {
            background: url(../Resource/images/logout.png) no-repeat left;
            padding: 0 0 0 22px;
        }

.center_content {
    clear: both;
    width: 100%;
    padding: 0 0 50px 0;
}

.loginheader {
    width: 100%;
    height: auto;
    text-align: center;
}

.logintitle {
    font-size: 26px;
    padding: 25px 0 0 0px;
}

    .logintitle a {
        color: #366082;
        font-family: 'Belgrano', serif;
    }

.menu {
    float: left;
    clear: both;
    padding: 27px 0 0 15px;
}

    .menu ul {
        padding: 0px;
        margin: 0px;
        list-style: none;
    }

        .menu ul li {
            float: left;
            padding: 0px;
            margin: 0px;
            font-size: 13px;
        }

            .menu ul li a {
                display: block;
                float: left;
                background-color: #bad7e6;
                padding: 7px 12px 5px 12px;
                color: #366082;
                text-decoration: none;
                margin: 0 4px 0 0;
            }

                .menu ul li a.selected {
                    display: block;
                    float: left;
                    background-color: #366082;
                    padding: 7px 12px 5px 12px;
                    color: #fff;
                    text-decoration: none;
                    margin: 0 4px 0 0;
                }

                .menu ul li a:hover {
                    background-color: #366082;
                    color: #fff;
                }

.submenu {
    width: 100%;
    height: auto;
    background-color: #edcd66;
    clear: both;
    float: left;
}

    .submenu ul {
        padding: 5px 0 5px 25px;
        margin: 0px;
        list-style: none;
    }

        .submenu ul li {
            float: left;
            padding: 0px;
            margin: 0px;
        }

            .submenu ul li a {
                display: block;
                float: left;
                padding: 3px 6px 3px 6px;
                color: #000;
                text-decoration: none;
                margin: 5px 4px 10px 0;
                font-size: 12px;
            }

                .submenu ul li a.selected {
                    display: block;
                    float: left;
                    padding: 3px 6px 3px 6px;
                    color: #FFFFFF;
                    text-decoration: none;
                    margin: 5px 4px 8px 0;
                    color: #FFFFFF;
                    font-size: 12px;
                    background-color: #366082;
                }

                .submenu ul li a:hover {
                    background-color: #366082;
                    color: #FFFFFF;
                }


.sidebar {
    width: 222px;
    float: right;
    padding: 0px 0 0 0px;
    position: relative;
    left: 0px;
}

    .sidebar h2 {
        width: 187px;
        margin: 10px 10px 0 10px;
        background-color: #366082;
        color: #ededed;
        font-size: 14px;
        font-weight: bold;
        padding: 10px 0 10px 15px;
    }

    .sidebar ul {
        background-color: #FFFFFF;
        list-style: none;
        width: 170px;
        border: 1px #D6D6D6 solid;
        border-top: none;
        padding: 10px 15px 15px 15px;
        margin: 0px 0 15px 10px;
    }

        .sidebar ul li {
            border-bottom: 1px #ededed solid;
        }

            .sidebar ul li a {
                color: #000000;
                display: block;
                padding: 5px 0 5px 5px;
            }

                .sidebar ul li a:hover {
                    background-color: #ededed;
                }

.sidebarselected {
    background-color: #ededed;
}

.sidebar_section_text {
    background-color: #FFFFFF;
    width: 170px;
    border: 1px #D6D6D6 solid;
    border-top: none;
    padding: 10px 15px 15px 15px;
    margin: 0px 0 15px 10px;
}






.footer {
    height: 50px;
    background-color: #e4e3e0;
    border-top: 1px #fff solid;
    line-height: 50px;
    padding: 0 0 0 20px;
}

.container {
    width: 970px;
    height: auto;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
    border-top: 2px solid #366082;
}
